h2, h3 {
    color: #4aaaa5;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff
}h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

footer, a, form {
    font-family: Arial, Helvetica, sans-serif
}

footer {
    border-top: 8px solid #4aaaa5;
}